body{
    color: $base-text;
}

.main-wrap{
    overflow: hidden;
}

header,section,footer{width: 100%;}
img{
    max-width: 100%;
}
.py-sm-0{padding-right: 0 !important; padding-left: 0 !important;}
.hidden{
    opacity: 0;
    visibility: hidden;
}


.body-copy{
    position: relative; 
    width: 100%; 
    height: auto;
}
.body-copy-two{
    position: absolute; 
    visibility: hidden; 
    height: 0; 
    padding: 0; 
    margin: 0;
}

@include media-breakpoint-up(md){
    .expand-right{margin-right: -50px;}   
    .expand-left{margin-left: -50px;}   
}

.main-content{
    padding-top: 68px;
    @include media-breakpoint-down(sm){
        padding-top: 54px;
    }
    
}

.our-projects-section,
.counter-area,
.why-like-us-section,
.our-team-section,
.testimonial-section{
    @extend %section-spacer-pt-desk;
    @include media-breakpoint-down(md){
        @extend %section-spacer-pt-btab;
    }
    @include media-breakpoint-down(sm){
        @extend %section-spacer-pt-bmobi;
    }
}
.testimonial-section{    
    @extend %section-spacer-pb-desk;
    @include media-breakpoint-down(md){
        @extend %section-spacer-pb-btab;
    }
    @include media-breakpoint-down(sm){
        @extend %section-spacer-pb-bmobi;
    }
}

// Input field stle 
.form-control{
    @include transition;
    border: 1px solid $input-default-border;
    color: $input-default-color;
    &:focus{
        border-color: $input-focus-border;
        box-shadow: none;
    }
    &:active{
        color: $base-text;
    }
    &:hover{
        background-color: $transparent-blue;
        border-color: $transparent-blue;;
    }
    &.populated{
        color: $base-text;
    }
}

.error{
    .form-control{
        border: 1px solid $error;
        color: $error;
    }
}
.animate{
    @include transition(
            $duration: .7s
        )
}
.animate-from-right{
    @include transform(translateX(20%));
    opacity: 0;
    &.in-view{
        @include transform(translateX(0%));
        opacity: 1;
    }
}

.animate-from-left{
    @include transform(translateX(-20%));
    opacity: 0;
    &.in-view{
        @include transform(translateX(0%));
        opacity: 1;
    }
}

.animate-from-bottom{
    @include transform(translateY(20%));
    opacity: 0;
    &.in-view{
        @include transform(translateY(0%));
        opacity: 1;
    }
}
.desktop{
    @include media-breakpoint-down(sm){
        display: none !important;
    }
}
.mobile{
    display: none !important;
    @include media-breakpoint-down(sm){
        display: block !important;
    }
}
